html {
  height:100%;
}

body {
  margin:0;
}

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

.content {
  background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  left:50%;
  padding:10vmin;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
}

h1 {
  font-family:monospace;
}

button {
    padding: 2px 4px;
    font-size: 14px;
    border: 0px solid #888;
    border-radius: 1px;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
  }
  button:hover.like {
    background-color: #4caf50;
    border-color: #4caf50;
    color: white;
  }
  button:hover.dislike {
    background-color: #f44336;
    border-color: #f44336;
    color: white;
  }
.button-row {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 15px;
}

.button-row form {
    margin: 0;
    display: inline;
}
@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}